<ion-header>
  <ion-navbar>
    <ion-title>
      <div id="title">Add Städtetrip</div>
      <div id="title_String" style="display: none">{{searchString}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-searchbar id="search" (ionInput)="search($event)">Stadt...</ion-searchbar>

    <div class="country">
      <p style="padding-left: 16px;">Bitte wähle ein Land aus</p>
      <ion-item>
        <ion-label>Land</ion-label>
        <ion-select [(ngModel)]="country" (click)="onclickCountry()">
          <ion-option *ngFor="let country of countryArray" value="/{{country.l}}">{{country.country_name}} ({{country.state}})</ion-option>
        </ion-select>
      </ion-item>
      <p id="errorCountry">Es ist ein Fehler aufgetrehten, bitte versuchen Sie es später nocheinmal!</p>
    </div>

    <div id="weather" class="item-block" style="display:none">
      <ion-card>
        <ion-card-header>
          Informationen zu {{searchString}}
        </ion-card-header>
        <ion-card-content>
          <p>Klicke auf den Städtenamen um Informationen zu dieser Stadt bei Wikipedia zu erhalten: <br>
            <a href="https://de.wikipedia.org/w/index.php?title=Spezial:Suche&search={{searchString}}" target="_blank">{{searchString}}</a> <br><br>
          </p>
          <div class="hotels">
            <div style="font-size: 1.6rem;">
              Hotels in und um {{searchString}}
            </div>
            <ion-item *ngFor="let hotel of hotels">
              {{hotel.name}}
              <div>
                <p class="white-space">Telefonnummmer: {{hotel.contact.formattedPhone}}</p>
                <p class="white-space">Adresse: {{hotel.location.formattedAddress[0]}}, {{hotel.location.formattedAddress[1]}}</p>
                <p class="white-space">Website: <a href="{{hotel.url}}" target="_blank">{{hotel.url}}</a></p>
              </div>
            </ion-item>
            <div class="buttonCrates" (click)="openCityDetailsPage(locations)"icon-start>
              Für weitere Vorschläge für Hotels, Hostels und Restaurants bitte
              <a>hier</a> klicken
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Wetter: {{searchString}}
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let weather of weatherArray" class="weather weatherNotFirst">
            <p class="weatherFirst">
              {{weather.date.weekday_short}}
            </p>
            <img src="{{weather.icon_url}}" style="max-width: 77px;">
            <p class="temp">
              {{weather.high.celsius}} °C
            </p>
            <p class="temp templow">
              {{weather.low.celsius}} °C
            </p>
            <div class="additive">
              <div style="display: inline-table;">
                <p class="temp" style="display: inline-block;">{{weather.high.celsius}} °C </p>
                  <br>
                <div class="temp templow additiveLow">{{weather.low.celsius}} °C </div>
              </div>
              <p class="tempInfo">
                Niederschlag: {{weather.pop}} % <br>
                Luftfeuchtigkeit: {{weather.avehumidity}} % <br>
                Wind: {{weather.avewind.kph}} km/h
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card id="noGPS">
        <ion-card-header>
          Route: {{searchString}}
        </ion-card-header>
        <ion-card-content>
          Um die Map anzuzeigen, aktivere das GPS in den Einstellungen
        </ion-card-content>
      </ion-card>

      <ion-card id="GPS">
        <ion-card-header>
          <div style="float: left;height: 45px;padding: inherit;">Route: {{searchString}}</div>
          <div class="mode" style="float: right;display: inline-block;">
            <ion-item>
              <ion-label></ion-label>
              <ion-select id="mode" [(ngModel)]="modeString" (click)="onclickMode()">
                <ion-option *ngFor="let mode of mode" value="{{mode.value}}">{{mode.name}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-card-header>
          <div #map id="map"></div>
        <ion-card-content>
          <div id="routeSettings">
            Distanz:  {{routeString}}
            <div (click)="openMapDetailsPage(routeDetails)" style="margin-top: 18px;white-space: normal;" icon-start>
              Für Details der Route bitte <a>hier</a> klicken
            </div>
          </div>
          <div id="noResults">
            Es wurde keine Route gefunden. Bitte probieren Sie es mit einem anderen Fortbewegungsmittel.
          </div>
        </ion-card-content>
      </ion-card>

      <button id="saveAsFavorites" style="margin: 10px;" ion-button (click)="saveAsFavorites()" icon-start>
        als Favoriten speichern
      </button>
      <button id="deleteFavorites" style="margin: 10px;" ion-button (click)="deleteFavorites()" icon-start>
        aus Favoritenliste entfernen
      </button>

    </div>

</ion-content>
