<ion-header>
  <ion-navbar>
    <ion-title>
      Add Städtetrip
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-searchbar (ionInput)="search($event)">Stadt...</ion-searchbar>

    <div class="country">
      <p style="padding-left: 16px;">Bitte wähle ein Land aus</p>
      <ion-item>
        <ion-label>Land</ion-label>
        <ion-select [(ngModel)]="country" (click)="onclickCountry()">
          <ion-option *ngFor="let country of countryArray" value="/{{country.l}}">{{country.country_name}} ({{country.state}})</ion-option>
        </ion-select>
      </ion-item>
      <p id="errorCountry" style="padding-left: 16px; display: none">Es ist ein Fehler aufgetrehten, bitte versuchen Sie es später nocheinmal!</p>
    </div>

    <div id="weather" class="item-block" style="display:none">

      <ion-card>
        <ion-card-header>
          Informationen zu {{searchString}}
        </ion-card-header>
        <ion-card-content>
          <p>Klicke hier um Informationen zu dieser Stadt bei Wikipedia zu erhalten: <br>
            <a href="https://de.wikipedia.org/w/index.php?title=Spezial:Suche&search={{searchString}}" target="_blank">{{searchString}}</a>
          </p>
          <button ion-item (click)="openCityDetailsPage(locations)" icon-start>
            Details zu Hotels und Hostels
          </button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Wetter: {{searchString}}
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let weather of weatherArray" class="weather weatherNotFirst">
            <p style="width: 60px; font-size: 26px;margin: 0px 5%;">
              {{weather.date.weekday_short}}
            </p>
            <img src="{{weather.icon_url}}" style="max-width: 77px;">
            <p class="temp">
              {{weather.high.celsius}} °C
            </p>
            <p class="temp templow">
              {{weather.low.celsius}} °C
            </p>
            <div  class="additive" style="font-size: 15px;margin: 0px 5%;color: #bababa !important; display: none">
              <p class="temp" style="    display: inline-block;">{{weather.high.celsius}} °C <br> {{weather.low.celsius}} °C </p>
              <p style="float: right;display: inline-block;">
                Niederschlag: {{weather.pop}} % <br>
                Luftfeuchtigkeit: {{weather.avehumidity}} % <br>
                Wind: {{weather.avewind.kph}} km/h
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card id="noGPS">
        <ion-card-header>
          Route: {{searchString}}
        </ion-card-header>
        <ion-card-content>
          Um die Map anzuzeigen, aktivere das GPS in den Einstellungen
        </ion-card-content>
      </ion-card>

      <ion-card id="GPS">
        <ion-card-header>
          Route: {{searchString}}
          <div class="mode" style="width: 68%;display: inline-block;">
            <ion-item>
              <ion-label></ion-label>
              <ion-select id="mode" [(ngModel)]="modeString" (click)="onclickMode()">
                <ion-option *ngFor="let mode of mode" value="{{mode.value}}">{{mode.name}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-card-header>
          <div #map id="map"></div>
        <ion-card-content>
          <div id="routeSettings">
            Distanz:  {{routeString}}
            <button ion-item (click)="openMapDetailsPage(routeDetails)" icon-start>
              Details der Route
            </button>
          </div>
          <div id="noResults">
            Es wurde keine Route gefunden. Bitte probieren Sie es mit einem anderen Fortbewegungsmittel.
          </div>
        </ion-card-content>
      </ion-card>

      <button id="saveAsFavorites" ion-button (click)="saveAsFavorites()" icon-start>
        als Favoriten speichern
      </button>
      <button id="deleteFavorites" ion-button (click)="deleteFavorites()" icon-start>
        aus Favoritenliste entfernen
      </button>

    </div>

</ion-content>
