<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        Wilkommen zu Shorties!
    </ion-card-header>
    <ion-card-content>
      <p>
        Hier kannst du dir Kurztrips erstellen, indem du einen Stadtnamen eingibst.
        <br>
        <br>
        Es wird dir das Wetter der nächsten Tage, die kürzeste Route mit dem Auto und die
        Hotels, Hostels und Restaurants in der gesuchten Stadt angezeigt.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        Favoriten
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let favorites of favorites">
        <p>{{favorites[2]}} <ion-icon name="star" style="float: right;color: #488aff;"></ion-icon></p>
      </ion-item>
      <p id="noFavorites">Sie haben noch keine Favoriten hinzugefügt.</p>
    </ion-card-content>
  </ion-card>

  <ion-card id="mostWanted">
    <ion-card-header>
        Meistgesuchte Stadte
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let viewHistory of viewHistory" [style.display]="viewHistory[4]">
        <p>{{viewHistory[3]}}: {{viewHistory[2]}}</p>
      </ion-item>
      <p id="noHistory">Sie haben noch nach keiner Stadt gesucht.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
