<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="/assets/imgs/Shorties_Logo.png"/>
    <ion-card-content>
      <ion-card-title>
        Wilkommen zu Shorties!
      </ion-card-title>
      <p>
        Hier kannst Du Dir Kurztrips erstellen, indem Du unten auf Suchen klickst
        und anschießend eine Stadt eingibst.
        <br>
        <br>
        Sie zeigt Dir das Wetter der nächsten Tage, die kürzeste Route mit dem Auto und die
        Hotels, Hostels und Restaurants in der gesuchten Stadt an.
        <br>
        Um schnell an Deine Favoriten oder meistgesuchten Städte zu kommen, klick einfach auf den Namen der Stadt.
        <br>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        Favoriten
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let favorites of favorites" (click)="openSearchPage(favorites)" [style.display]="favorites[6]">
        <p>{{favorites[2]}} <ion-icon name="star" style="float: right;color: #488aff;"></ion-icon></p>
      </ion-item>
      <p id="noFavorites">Du hast noch keinen Favoriten hinzugefügt.</p>
    </ion-card-content>
  </ion-card>

  <ion-card id="mostWanted">
    <ion-card-header>
        Deine meistgesuchte Städte
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let viewHistory of viewHistory" [style.display]="viewHistory[5]" (click)="openSearchPage(viewHistory)">
        <p>{{viewHistory[4]}}: {{viewHistory[2]}}
          <ion-icon name="star" style="float: right;color: #488aff;" [style.display]="viewHistory[6]"></ion-icon>
        </p>
      </ion-item>
      <p id="noHistory">Du hast noch nach keiner Stadt gesucht.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
